* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: yellow;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.intro {
    display: flex;
    justify-content: center;
}

.intro h2 {
    text-align: center;
}

.start {
    margin: auto;
    background: pink;
    width: 160px;
    height: 30px;
}

.btn-start { 
    width: 100px;
    height: 30px;
    background: lightgray;   
}

.quiz-box {
    margin-top: 30px;
    width: auto;
    height: auto;
    background: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 200px;
   background: lightblue;
}

