* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: yellow;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
}

header p, .tik-tok {
    color: #781C68;
    font-size: 1.2rem;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: yellow;
}

.welcome {
    width: 700px;
    height: 200px;
    margin-top: 50px;
    text-align: center;
    
}

.intro h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.intro p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.start {
    margin: auto;
    width: 200px;
    height: 50px;
}

.btn-start { 
    width: 150px;
    height: 40px;
    background: purple;   
    font-size: 1.2rem;
    color: white;
}

.quiz-box {
    margin-top: 30px;
    width: auto;
    height: auto;
    /* background: salmon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    height: 300px;
   /* background: lightblue; */
}

.quiz h2 {
    font-size: 2rem;
}

.choice {
    width: 350px;
    height: 50px;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 8px;
    background: purple;
    color: white;
}

#end {
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    background: lightblue;
}

#end h2 {
    font-size: 2.5rem;

}

#end p {
    font-size: 2rem;
    margin-top: 20px;
}

#initial {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

input {
    height: 30px;
    width: 150px;
    margin-top:25px;
}

.submit {
    width: 100px;
    height: 30px;
    background: purple;   
    font-size: 1.2rem;
    color: white;
    margin-top: 25px;
}
